/node_modules/
/dist/
/.trails/
/.env*
!/.env.example

/db/*.sqlite3
/db/*.sqlite3-*

/log/*
!/log/.gitkeep

/tmp/*
!/tmp/.gitkeep
!/tmp/pids/
/tmp/pids/*
!/tmp/pids/.gitkeep

/storage/*
!/storage/.gitkeep

/public/assets/

*.tsbuildinfo
